- if @order.errors.any?
  #error_explanation
    %h2= "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"
    %ul
      - @order.errors.full_messages.each do |msg|
        %li= msg

.field
  = f.label :customer_name
  = f.text_field :customer_name
.field
  = f.label :customer_email
  = f.text_field :customer_email
.field
  = f.label :frame
  = collection_select :order, :frame_id, Frame.all, :id, :name
.field
  = f.label :description
  = f.text_area :description
.field
  = f.label :price
  = f.text_field :price
.field
  = f.label :paid_for_on
  = f.text_field :paid_for_on
