%h1 Editing order

= form_for @order do |f|
  = render partial: 'form', locals: { f: f }
  .field
    = f.label :completed_on
    = f.text_field :completed_on
  .actions
    = f.submit 'Save'

= link_to 'Show', @order
\|
= link_to 'Back', orders_path
