.orders
  %h1 Listing orders

  %table
    %tr
      %th Customer name
      %th Customer email
      %th Frame
      %th Description
      %th Price
      %th.center Completed on
      %th.center Paid for on
      %th

    - @orders.each do |order|
      %tr
        %td= order.customer_name
        %td= order.customer_email
        %td= order.frame.name if order.frame
        %td= order.description
        %td= number_to_currency(order.price)
        %td.center
          - if order.completed_on.blank?
            = link_to 'Mark Completed', order_mark_completed_path(order), method: :post, data: { :confirm => 'Are you sure?' }, :class => 'button'
          - else
            = order.completed_on.strftime('%b %d, %Y')
        %td.center
          - if order.paid_for_on.blank?
            = link_to 'Mark Paid', order_mark_paid_path(order), method: :post, data: { :confirm => 'Are you sure?' }, :class => 'button'
          - else 
            = order.paid_for_on.strftime('%b %d, %Y')
        %td.actions
          = link_to 'Show', order, :class => 'button-small show'
          = link_to 'Edit', edit_order_path(order), :class => 'button-small edit'
          = link_to 'Destroy', order, method: :delete, data: { :confirm => 'Are you sure?' }, :class => 'button-small delete'
