.orders
  %h1 Listing orders

  %table
    %tr
      %th Customer name
      %th Customer email
      %th Brand
      %th Description
      %th Price
      %th Completed on
      %th Paid for on
      %th
      %th
      %th

    - @orders.each do |order|
      %tr
        %td= order.customer_name
        %td= order.customer_email
        %td= order.brand.name if order.brand
        %td= order.description
        %td= order.price
        %td= order.completed_on
        %td= order.paid_for_on
        %td.actions
          = link_to 'Show', order
          = link_to 'Edit', edit_order_path(order)
          = link_to 'Destroy', order, method: :delete, data: { :confirm => 'Are you sure?' }
          - if order.paid_for_on.blank?
            = link_to 'Mark Paid', order_mark_paid_path(order), method: :post, data: { :confirm => 'Are you sure?' }
          - if order.completed_on.blank?
            = link_to 'Mark Completed', order_mark_completed_path(order), method: :post, data: { :confirm => 'Are you sure?' }

  %br

  = link_to 'New Order', new_order_path
