%h1 Brands

%table
  %tr
    %th Name
    %th.actions

  - @brands.each do |brand|
    %tr
      %td= brand.name
      %td.actions
        = link_to 'Show', brand, :class => 'button-small show'
        = link_to 'Edit', edit_brand_path(brand), :class => 'button-small edit'
        = link_to 'Destroy', brand, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'button-small delete'

%br

= link_to 'New Brand', new_brand_path, :class => 'button'
