<!DOCTYPE html>
%html
  %head
    %title Bikeshop
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
  %div.wrapper
    %header
      %ul
        %li
          = link_to "Home", root_path
        %li
          = link_to "Orders", orders_path
        %li
          = link_to "Brands", brands_path
        %li
          = link_to "Frames", frames_path
        %li
          = link_to 'New Order', new_order_path, :class => "button new-order"
    = yield
